[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
  npm_config_legacy_peer_deps = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

